*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
     box-sizing: border-box;
}
:root{
    --mainColor: #10cab7;
    --secoundColor: #1f2021;
    --main-padding:50px;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Work Sans', sans-serif;;
}
.container{
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
/* Start Media */
@media (min-width: 768px){
.container{
    width: 700px;
}
}
/* Medium */
@media (min-width: 992px){
.container{
    width: 920px;
}
}
/* Large */
@media (min-width: 1200px){
.container{
    width: 1100px;
}
}
/* End Media */
/* Start header */
header{
    padding: 15px;
}
header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    width: 60px;
}
header .nav{
    position: relative;
    /* border: 2px solid red;
    background-color: antiquewhite; */
    /* transition: 3s; */
}
header .nav:hover .icons span:nth-child(2){
width: 100%;
}
header .nav .icons{
    width: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}
header .nav .icons span{
    background-color: #333;
    margin-bottom: 5px;
    height: 2px;
}
header .nav .icons span:first-child{
width: 100%;
}
header .nav .icons span:nth-child(2){
width: 60%;
transition: 0.3s;
}
header .nav .icons span:last-child{
width: 100%;
}
header .nav ul{
    list-style: none;
    margin: 0 ;
    padding: 0;
    background-color: #eee; 
    position: absolute;
    right: 0;
    min-width: 200px;
    top: calc(100% + 15px);
    display: none;
    transition: 3s;
    z-index: 1;
}
header .nav:hover ul{
    display: block;
    }
header .nav ul::before{
    content: "";
    position: absolute;
    border-style: solid;
    border-color: transparent transparent blue transparent;
    border-width: 10px;
    right: 5px;
    top: -20px;}
header .nav ul li a{
    display: block;
    text-decoration: none;
    padding: 15px;
    color: #333;
    transition: 0.4s;
}
header .nav ul li a:hover{
    padding-left: 25px;
}
header .nav ul li:not(:last-child){
border-bottom: 1px solid #444141;
}
/* Start landing */
.landing{
    background-image: url(../images/landingpicone.jpg);
    background-size: cover;
    height:calc(100dvh - 54px);
    position: relative;
}
.landing .text-landing{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    width: 320px;
    max-width: 100%;
}
.landing .text-landing h1{
    color: var(--mainColor);
    margin: 0;
    font-weight: bold;
    font-size: 50px;
}
.landing .text-landing p{
    color: #2c4755;
    font-size: 19px;
    line-height: 1.8;
}

/* End landing */
/* Start features */
.features{
    padding-top: var(--main-padding);
    
}
.features .container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
    gap: 20px;
}

.features .container .feat{
padding: 20px;
text-align: center;
}
.features .container .feat i{
color: var(--mainColor);
width: 20px;
}
.features .container .feat h3{
    font-weight: 800;
    margin: 25px 0;
    }
.features .container .feat p{
    color: #777;
    line-height: 1.7;
    font-size: 16px;
}
/* End features */
/* Start services */
.sercives{
    
    padding-bottom: var(--main-padding);
}
.sercives .container{
   text-align: center; 
 }
/*@media(min-width: 750px){
    .sercives .container{
        width: 650px;
    }
}
@media(min-width: 950px){
    .sercives .container{
        width: 850px;
    }
}
@media(min-width: 1050px){
    .sercives .container{
        width: 950px;
    }
} */
 .title-catagories {
    
   padding-bottom: 20px;
   position: relative;
  text-align: center;
}
.title-catagories h4{
   
    font-size: 70px;
    font-weight: 800;
    padding: 0;
    margin: 0;
    color: #f6f6f6
}
 .title-catagories p:nth-child(2){
    font-size: 11px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -60%);
}
.sercives .cards{
 display: grid;
 grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
    gap: 10px;
    margin-top: 70px;
}
.container .cards .col {

}
.container .cards .service{
    display: flex;
    margin-bottom: 30px;
}
@media (max-width: 550px){
    .container .cards .service{
        flex-direction: column;
       text-align: center;
    }
}
.service  i{
   color: var(--mainColor);
   flex-basis: 50px;
}
 .col .service .title-card{
   flex: 1;
}
 .title-card h5{
    margin: 0 0 20px;
}
.title-card p{
    color: #777;
    font-weight: 300;
    line-height: 1.7;
}
.cards .col .image{
    text-align: center;
    position: relative;
    height: 100%;
}
 .col .image::before{
     content: "";
    background-color: rgb(183, 201, 183);
    position: absolute;
    width: 100px;
    height: calc(100% + 100px);
    right: 0;
    top: -50px;
    z-index: -1;
}
 .col .image img{
   width: 260px;
   height: 100%;
}
@media (max-width: 1190px){
    .image-hidd{
        display: none;
    }
}
/* End cervices */

/* Start Portfoli */
.portfoli{
    padding-top: var(--main-padding);
    background-color: #fafafa;
}
.portfoli .container{
    text-align: center;
}
.portfoli .container .carts-portfoli{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}
.carts-portfoli-cart{
    background-color: #ffffff;
}
.carts-portfoli img{
    width: 100%;
    height: 250px;
    
}
.carts-portfoli-cart-text{
    text-align: left;
    padding: 20px;
}
.carts-portfoli-cart-text h4{
    margin: 0;
    /* font-size: 10px; */
}
.carts-portfoli-cart-text p{
color: #1f2021;
margin-bottom: 0;
line-height: 1.6;
}
/* End Portfoli */
/* Start About */
.about{
    padding-top: var(--main-padding);
    padding-bottom: var(--main-paddings);
}

.about .container .section-about{
    margin-top: 100px;
   display: flex;
    flex-wrap: wrap;
     flex-direction: row;
    justify-content: space-between;
}
@media (max-width: 991px){
    .about .container .section-about{
        flex-direction: column;
        text-align: center;
    }
}
.container .section-about .image-sec {
    position: relative;
    width: 250px;
    height: 375px;
}
@media (max-width: 991px){
    .container .section-about .image-sec {
        margin: 0 auto 20px;
    } 
}
.container .section-about .image-sec img{
    max-width: 100%;
}

.container .section-about .image-sec::before{
    content: "";
    position: absolute;
    width: 30px;
    height: calc(100% + 80px);
    background-color: #fafafa;
    top: -40px;
    left: -15px;
    z-index: -2;
}
.container .section-about .image-sec::after{
    content: "";
    position: absolute;
    width: 70px;
    height: 240px;
    border-left: 60px solid var(--mainColor);
    border-bottom: 60px solid var(--mainColor) ;
    z-index: -1;
    right: -85px;
    top: -35px;
}
@media (max-width: 991px){
    .container .section-about .image-sec::before ,
    .container .section-about .image-sec::after
    {
        display: none;
    }
   
}
.container .section-about .image-sec img{
    width: 100%;
}
.container .section-about  .text{
flex-basis: calc(100% - 400px);

}
.container .section-about  .text p:first-of-type{
    font-weight: bold;
    line-height: 2;
    margin-bottom: 50px;
}
.container .section-about  .text hr{
    width: 50%;
    display: inline-block;
    border-color: var(--mainColor);
}
.container .section-about  .text p:last-of-type{
   line-height: 2;
   color: #777;
}
/* End About */
/* Start contact */
.contact{
    padding-top: var(--main-padding);
    background-color: #fafafa;
}
.contact .info{
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
    text-align: center;
}
.contact .info .p-contact{
    font-size: 30px;
    font-weight: 800;
    color: #1f2021;
}
.contact .info a{
    display: block;
    color: var(--mainColor);
    text-decoration: none;
    font-size: 30px;
    /* background-color: #ffffff; */
    font-weight: 800;
}
.contact .info .social{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    font-size: 18px;
}
.contact .info .social i{
    margin-left: 10px;
    color: #334752;
    
}
/* End contact */
/* Start footer */
.footer{
    text-align: center;
    background-color: #2c4755;
    padding: 10px;

}
.footer span{
    font-weight: bold;
color: var(--mainColor);
}
/* End footer */